{% extends 'base.html.twig' %}
{% block footercss %}
<link rel="stylesheet" href="{{ asset('css/footer2.css') }}">
{% endblock %}
{% block body %}
    {% block header %}
        <header class="header">
            <h1 class="logo">Placementlink</h1>

            <ul class="navi">
                {% if is_granted('ROLE_USER') %}
                <div class="dropdown pull-right">
                    <a class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{ app.user.username }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path("fos_user_profile_show") }}">My Profile</a></li>
                        <li><a href="{{ path("fos_user_profile_edit") }}">Update Details</a></li>
                        <?php if($_SESSION['userType'] ==1){?>
                        <li><a href="placements.php">My Ads</a></li>
                        <li><a href="myad.php">Manage Ads</a></li>
                        <?php }?>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <li>
                    {% if is_granted('ROLE_USER') %}
                        <a href="/logout">Logout</a>
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </header>
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 footerleft ">
                        <div class="logofooter"> Placementlink</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
                        <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
                        <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

                    </div>
                    <div class="col-md-2 col-sm-6 paddingtop-bottom">
                        <h6 class="heading7">GENERAL LINKS</h6>
                        <ul class="footer-ul">
                            <li><a href="#"> Career</a></li>
                            <li><a href="#"> Privacy Policy</a></li>
                            <li><a href="#"> Terms & Conditions</a></li>
                            <li><a href="#"> Client Gateway</a></li>
                            <li><a href="#"> Ranking</a></li>
                            <li><a href="#"> Case Studies</a></li>
                            <li><a href="#"> Frequently Ask Questions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom">
                         <h6 class="heading7">LATEST POST</h6>
                         <div class="post">
                            <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
                            <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
                            <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom">
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer start from here -->
    {% endblock %}

{% endblock %}